Node-red/turntable.json
[
    {
        "id": "ee6814be66175413",
        "type": "tab",
        "label": "Turntable Station",
        "disabled": false,
        "info": ""
    },
    {
        "id": "034cc2d3a2764dd4",
        "type": "mqtt in",
        "z": "ee6814be66175413",
        "name": "IN: stf/turntable/status",
        "topic": "stf/oven_station/status",
        "qos": "0",
        "datatype": "json",
        "broker": "87d849f528acb8d9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "d021475bfd49e9bd",
                "219229df328adab4",
                "88d9fbbaf3a126ce",
                "e744e23b1a729eda"
            ]
        ]
    },
    {
        "id": "d021475bfd49e9bd",
        "type": "ui_text",
        "z": "ee6814be66175413",
        "group": "aa69f396bbc27b53",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current State",
        "format": "{{msg.payload.state}}",
        "layout": "row-spread",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "219229df328adab4",
        "type": "function",
        "z": "ee6814be66175413",
        "name": "Parse Vacuum (I5)",
        "func": "msg.payload = msg.payload.sensors.vacuum_pos ? \"🟢 ACTIVE\" : \"⚪\";\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "bcf824aa3b3f22d3"
            ]
        ]
    },
    {
        "id": "88d9fbbaf3a126ce",
        "type": "function",
        "z": "ee6814be66175413",
        "name": "Parse Saw (I14)",
        "func": "msg.payload = msg.payload.sensors.saw_pos ? \"🟢 ACTIVE\" : \"⚪\";\nreturn msg;",
        "outputs": 1,
        "x": 460,
        "y": 280,
        "wires": [
            [
                "93530109d46ffaa4"
            ]
        ]
    },
    {
        "id": "e744e23b1a729eda",
        "type": "function",
        "z": "ee6814be66175413",
        "name": "Parse Belt (I6)",
        "func": "msg.payload = msg.payload.sensors.belt_pos ? \"🟢 ACTIVE\" : \"⚪\";\nreturn msg;",
        "outputs": 1,
        "x": 460,
        "y": 340,
        "wires": [
            [
                "39bf16158ca8c656"
            ]
        ]
    },
    {
        "id": "bcf824aa3b3f22d3",
        "type": "ui_text",
        "z": "ee6814be66175413",
        "group": "dbd09dfc5f8ffa6e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Position: Vacuum (I5)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "93530109d46ffaa4",
        "type": "ui_text",
        "z": "ee6814be66175413",
        "group": "dbd09dfc5f8ffa6e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Position: Saw (I14)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 280,
        "wires": []
    },
    {
        "id": "39bf16158ca8c656",
        "type": "ui_text",
        "z": "ee6814be66175413",
        "group": "dbd09dfc5f8ffa6e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Position: Belt (I6)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "c66d62c428ab8114",
        "type": "ui_button",
        "z": "ee6814be66175413",
        "name": "",
        "group": "74ddbd71c723d02f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "START CYCLE (Manual)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "stf/turntable/cmd/start",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "70ad66a09a4dd3c5"
            ]
        ]
    },
    {
        "id": "273fbe0bc7212d0c",
        "type": "ui_button",
        "z": "ee6814be66175413",
        "name": "",
        "group": "74ddbd71c723d02f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "payload": "1",
        "payloadType": "str",
        "topic": "stf/turntable/cmd/reset",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "70ad66a09a4dd3c5"
            ]
        ]
    },
    {
        "id": "70ad66a09a4dd3c5",
        "type": "mqtt out",
        "z": "ee6814be66175413",
        "name": "OUT: Commands",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "87d849f528acb8d9",
        "x": 450,
        "y": 460,
        "wires": []
    },
    {
        "id": "87d849f528acb8d9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "aa69f396bbc27b53",
        "type": "ui_group",
        "z": "ee6814be66175413",
        "name": "Turntable Status",
        "tab": "d8ee94f66fa224ee",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dbd09dfc5f8ffa6e",
        "type": "ui_group",
        "z": "ee6814be66175413",
        "name": "Position Sensors",
        "tab": "d8ee94f66fa224ee",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "74ddbd71c723d02f",
        "type": "ui_group",
        "z": "ee6814be66175413",
        "name": "Controls",
        "tab": "d8ee94f66fa224ee",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d8ee94f66fa224ee",
        "type": "ui_tab",
        "name": "Turntable",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "57e25d9040619f28",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
] 